.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 40px;
}

.note-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.note {
  flex: 0 0 200px;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-right: 30px;
  min-height: 100px;
  position: relative;
}

.delit-button {
  position: absolute;
  top: -10px;
  right: -20px;
}

.post-button {
  margin-left: -20px;
}

.refresh-button {
  margin-bottom: 20px;
}